@charset "utf-8"; 
/* CSS Document */

/*
        * author    : 0ctpus
        * ver       : 1.0.0
*/

/*
    >> font
------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  font-family: 'Press Start 2P', cursive;
  font-weight: 100;
}

body{
  color: #333;
  color: rgba(0,0,0,0.5);
}

a {
    color: #0cf;
    text-decoration: none;
    border: none;
}

a:hover {
  opacity: 0.7;
}

h1 {
  color: #fff;
}

h1.stupid {
  color: #ff3564;
}

p{
  font-size: 2em;
}

.intro p{
  color: #fff;
  width: 50%;
  margin: 0 auto;
  font-size: 3em;
  padding: 1em;
  text-align: left;
}

table {
  font-size: 3em;
  color: #fff;
  margin: 3em auto;
  text-align: left;
}

td, th {
  padding: 10px;
  margin: 0;
}

table, th, td {
  border: none;
}

img.emoji {
  height:1em;
  width:1em;
  margin:0 .05em 0 .1em;
  vertical-align:-0.1em;
}

.section{
  text-align:center;
}

/* menu */
#menu li.active{
  opacity: 1;
  background: #1793d1;
}

#menu li a{
  text-decoration:none;
}

#menu li:hover{
  opacity: 1;
  background: rgba(0,0,0,0.3);
  height: 2em;
}

#menu li a,
#menu li.active a{
  opacity: 1;
  padding: 0 18px;
  height: 2em;
  margin: 0;
  display: block;
}

#menu li {
  display: inline-block;
  line-height: 1.7em;
}

#menu{
  background: rgba(0,0,0,0.3);
  font-size: 2em;
  position: fixed;
  bottom:0;
  height: 2em;
  width: 400px;
  text-align: center;
  z-index: 70;
  padding: 0;
  margin: 0;
  left:calc(50% - 400px/2);
  border-radius: 15px 15px 0 0;
}

/*
    >> selection
------------------------*/

h1::selection, h2::selection, h3::selection,
h4::selection, h5::selection, h6::selection,
p::selection, dt::selection, dd::selection,
a::selection, span::selection, address::selection,
img::selection, td::selection, th::selection,
div::selection, input::selection {
    background: #00ea7d;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection,
h4::-moz-selection, h5::-moz-selection, h6::-moz-selection,
p::-moz-selection, dt::-moz-selection, dd::-moz-selection,
a::-moz-selection, span::-moz-selection, address::-moz-selection,
img::-moz-selection, td::-moz-selection, th::-moz-selection,
div::-moz-selection, input::-moz-selection {
    background: #00ea7d;
}


/*
    >> media
------------------------*/

/* width */
@media only screen and (min-width: 762px) {
  h1 {
    font-size: 5em;
  }

  img {
    width: 762px;
    height: auto;
  }
}

@media only screen and (max-width: 980px) {
  h1 {
    font-size: 4em !important;
  }

  table {
    font-size: 2em !important;
    margin: 2em auto !important;
  }
}

@media only screen and (max-width: 761px) {
  h1 {
    font-size: 3em !important;
  }

  img#logo {
    width: 100% !important;
    height: auto !important;
  }

  table {
    font-size: 1.5em !important;
    margin: 1.5em auto !important;
  }
}
@media only screen and (max-width: 500px) {
  h1 {
    font-size: 2em !important;
    margin: 1em 0 0 0 !important;
  }
}

@media only screen and (max-width: 499px) {
  table {
    font-size: 1.0em !important;
    margin: 1em auto !important;
  }

  #menu li a,
  #menu li.active a {
    padding: 0 14px;
  }

  #menu {
    width: 300px;
    left:calc(50% - 300px/2);
  }
}

@media only screen and (max-width: 338px) {
  table {
    font-size: 0.8em !important;
  }

  #menu {
    font-size: 1.5em;
    height: 2em;
    width: 230px;
    left:calc(50% - 230px/2);
  }
}

@media only screen and (max-width: 235px) {
  h1 {
    font-size: 1.0em !important;
  }
  table {
    font-size: 0.5em !important;
  }

  #menu {
    display: none;
  }
}
